<ion-row>
  <ion-col col-2>
    <img src="{{imageHelper.getCoinImage(coinData.symbol)}}" height="32" width="32">
  </ion-col>
  <ion-col col-6 class='vertical-center'>
    <div>
      <span class='bold'>{{ coinData.symbol }}</span> |
      <span>{{ coinData.name }}</span>
    </div>
  </ion-col>
  <ion-col col-4 class='vertical-center'>
    <span class='bold'>{{ priceHelper.getPriceByCurrency(coinData) }} {{symbol}}</span>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-4>
    <span>1h: </span>
    <span class='bold' [ngClass]="getPriceColor(coinData.percent_change_1h)">{{ coinData.percent_change_1h }} %</span>
  </ion-col>
  <ion-col col-4>
    <span>24h: </span>
    <span class='bold' [ngClass]="getPriceColor(coinData.percent_change_24h)">{{ coinData.percent_change_24h }} %</span>
  </ion-col>
  <ion-col col-4>
    <span>7d: </span>
    <span class='bold' [ngClass]="getPriceColor(coinData.percent_change_7d)">{{ coinData.percent_change_7d }} %</span>
  </ion-col>
</ion-row>