.dark-theme {
  $dark-bg: #090f2f;
  ion-content {
    background-color: $dark-bg;
    color: #fff;
  }

  .toolbar-title {
    color: #fff;
  }

  .bar-button-default {
    color: #fff;
  }

  .item {
    background-color: $dark-bg;
  }

  .label {
    color: #fff;
  }

  .header .toolbar-background {
    border-color: #ffffff;
    background-color: $dark-bg !important;
  }
}
